.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #333;

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__social {
    display: flex;
}

.rodape__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}

.rodape__navegacao {
    color: #fff;
    text-align: center;
    line-height: 3;
}


.rodape__link {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

.rodape__link a:hover {
    border-bottom: 2px solid #fff;
}

@media screen and (min-width: 1024px) {

    .rodape__divisao {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rodape__navegacao {
        display: flex;
        justify-content: left;
    }

    .rodape nav {
        width: 100%;
    }

}